.formation_panel
{
    color: #17a2b8!important;
}
.foncier_panel
{
    color: #28a745!important;
}
.icon_color
{
    color: #FFC300;
}
.modal-header-designed
{
    background-color: #926d27;
    color: white;
}
.modal-delete-header
{
    background-color: red;
    color: white;
}